{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="app-container">
        <header class="header">
            <a href="{% url 'dashboard' %}" class="back-button">🡰 atrás</a>
            <h1 class="app-title">ControlCash</h1>
        </header>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>